# Exemplo de arquivo terraform.tfvars
# Renomeie para terraform.tfvars antes de usar.

aws_region = "us-east-1" # Região da AWS

cluster_name = "picpay-sre-senior-cards"
eks_kubernetes_version = "1.33"

# **** ATENÇÃO: Preencha com os outputs do seu projeto terraform-network ****
existing_vpc_id = "vpc-" # Exemplo: "vpc-xxxxxxxxxxxxxxxxx"
existing_public_subnet_ids = [
  "subnet-", # Exemplo: "subnet-public-az1"
  "subnet-", # Exemplo: "subnet-public-az2"
  "subnet-"  # Exemplo: "subnet-public-az3"
]
existing_private_subnet_ids = [
  "subnet-", # Exemplo: "subnet-private-az1"
  "subnet-", # Exemplo: "subnet-private-az2"
  "subnet-"  # Exemplo: "subnet-private-az3"
]

# Configurações do Managed Node Group
ng_instance_type    = "m5.large"
ng_ami_family       = "AL2023_x86_64_STANDARD"
ng_desired_capacity = 2
ng_min_size         = 1
ng_max_size         = 10

# Configurações do Karpenter
karpenter_namespace        = "karpenter"
karpenter_service_account_name = "karpenter"

# Tags comuns (ajuste conforme necessário)
common_tags = {
  project     = "picpay-sre-senior-cards"
  environment = "dev"
}